<div class="landing-content">
    <mat-card-content>
        <mat-card-title>Welcome!</mat-card-title><br>
        <img mat-card-sm-image src="../../../../../assets/landing-img.PNG" alt="landing-img" class="img"><br>
        <mat-card-subtitle>Share your Internship Experience with others or viewing others' Internship
            Experience,
            <br>
            to allow yourself to be benefitting others and yourself when choosing a company to intern at
            in the future!
        </mat-card-subtitle><br>
        <mat-card-actions>
            <button mat-button routerLink="">Share/ View Internship Experience</button>
        </mat-card-actions>
    </mat-card-content>
</div>
