<div class="main-container">
    <div class="add-ie">
        <button mat-raised-button color="basic" routerLink="/Add-IE"><b>Manage</b></button>
    </div>
    <div class="title">
        <h1>Shared Internship Experience</h1>
    </div>
    <mat-grid-list cols="2" rowHeight="1.5:1">
        <!--Card 1-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Mr.Lim
                </mat-card-title>
                <mat-card-subtitle>
                    Blue Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was a fun time working for the company!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>3 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!--Card 2-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Ir4un
                </mat-card-title>
                <mat-card-subtitle>
                    Red Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was an eye-opening and fun experience!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>6 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!--Card 3-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Prem de Luffy
                </mat-card-title>
                <mat-card-subtitle>
                    Yellow Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was an exciting and fun time working for <br> the company!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>5 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!--Card 4-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Jo | Support
                </mat-card-title>
                <mat-card-subtitle>
                    Purple Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was a bit stressful but fun time working <br> for the company!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>3 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!--Card 5-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Danish | Intern-Manager
                </mat-card-title>
                <mat-card-subtitle>
                    Violet Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was fun managing a group of interns!!!!!!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>6 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!--Card 6-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Bern1ce
                </mat-card-title>
                <mat-card-subtitle>
                    Red Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was fun and relaxing experience working<br>with the company!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>7 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!--Card 7-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Josephine
                </mat-card-title>
                <mat-card-subtitle>
                    Rainbow Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was a fun, exciting and happy time working<br> for the company!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>5 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        <!--Card 8-->
        <mat-grid-tile>
            <mat-card>
                <mat-card-title>
                    Kotlin
                </mat-card-title>
                <mat-card-subtitle>
                    Pink Ocean Digital Sdn. Bhd.
                </mat-card-subtitle>
                <mat-card-content>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                My Internship Experience
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>It was a stressful yet exciting and fun time<br> working for the company!</p>
                    </mat-expansion-panel>
                    <br>
                    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Internship Duration
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p>4 months</p>
                    </mat-expansion-panel>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>