<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar><span routerLink="/Home">A I E</span></mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/Intern-Exp">Internship Experience</a>
            <a mat-list-item routerLink="/About-Us">About Us</a>
            <a mat-list-item routerLink="/Contact-Us">Contact Us</a>
            <footer>Copyright © 2021 Angular Internship Experience (AIE)</footer>
        </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div class="logsign">
                <button mat-button class="logbtn" routerLink="/Login">Login</button>
            </div>
        </mat-toolbar>
        <!-- Add Content Here -->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>