<div class="admins" #start>
    <div class="admin first">
        <!--S1@-->
        <div class="pp">
            <img src="../../../../../assets/ayaya.PNG" alt="pp-1">
        </div>
        <div class="quote">
            <h2><b><i>"Relationship is like a rope, if you cut it and tie it back together, <br> it brings both ends of
                        the rope closer to each other"</i></b></h2>
        </div>
        <div class="socials">
            <li><a href="https://github.com/sia-wrwd" target="_blank"><i class="fab fa-github"></i></a></li>
            <!--GitHub-->
            <li><a href="https://steamcommunity.com/id/JCN_LoveInApril" target="_blank"><i class="fab fa-steam"></i></a>
            </li>
            <!--Steam-->
            <li><a href="https://twitch.tv/weeb_realizes_waifu_dream" target="_blank"><i class="fab fa-twitch"></i></a>
            </li>
            <!--Twitch-->
            <li><a href="https://www.reddit.com/user/RaY_OF_HoP3/" target="_blank"><i class="fab fa-reddit"></i></a>
            </li>
            <!--Reddit-->
        </div>
        <br>
        <button (click)="scrollNext(admin2)" mat-button class="next-section-1"><i class="fas fa-arrow-down"></i></button>
    </div>

    <div class="admin second" #admin2>
        <!--Ir4un-->
        <div class="pp">
            <img src="../../../../../assets/irfan.jpg" alt="pp-2">
        </div>
        <div class="quote">
            <h2><b><i>"All I have to say is... <br> I love BOOBA"</i></b></h2>
        </div>
        <div class="socials">
            <li><a href="https://github.com/ir4un" target="_blank"><i class="fab fa-github"></i></a></li>
            <!--GitHub-->
            <li><a href="https://steamcommunity.com/id/ir4un/" target="_blank"><i class="fab fa-steam"></i></a></li>
            <!--Steam-->
            <li><a href="https://www.twitch.tv/llir4unll" target="_blank"><i class="fab fa-twitch"></i></a></li>
            <!--Twitch-->
            <li><a href="https://www.reddit.com/user/ir4un" target="_blank"><i class="fab fa-reddit"></i></a></li>
            <!--Reddit-->
        </div>
        <br>
        <button (click)="scrollNext(admin3)" mat-button class="next-section-2"><i class="fas fa-arrow-down"></i></button>
    </div>

    <div class="admin third" #admin3>
        <div class="pp">
            <img src="../../../../../assets/pr3m.PNG" alt="pp-3">
        </div>
        <div class="quote">
            <h2><b><i>"Boss, let me work from home... <br> PLEASE!!!"</i></b></h2>
        </div>
        <div class="socials">
            <li><a href="https://github.com/ir4un" target="_blank"><i class="fab fa-github"></i></a></li>
            <!--GitHub-->
            <li><a href="https://steamcommunity.com/id/ir4un/" target="_blank"><i class="fab fa-steam"></i></a></li>
            <!--Steam-->
            <li><a href="https://www.twitch.tv/llir4unll" target="_blank"><i class="fab fa-twitch"></i></a></li>
            <!--Twitch-->
            <li><a href="https://www.reddit.com/user/ir4un" target="_blank"><i class="fab fa-reddit"></i></a></li>
            <!--Reddit-->
        </div>
        <br>
        <button (click)="scrollNext(admin4)" mat-button class="next-section-3"><i class="fas fa-arrow-down"></i></button>
    </div>

    <div class="admin fourth" #admin4>
        <div class="pp">
            <img src="../../../../../assets/ry@n.PNG" alt="pp-4">
        </div>
        <div class="quote">
            <h2><b><i>"I got no idea, what's going on... <br> \(=_=)/"</i></b></h2>
        </div>
        <div class="socials">
            <li><a href="https://github.com/ir4un" target="_blank"><i class="fab fa-github"></i></a></li>
            <!--GitHub-->
            <li><a href="https://steamcommunity.com/id/ir4un/" target="_blank"><i class="fab fa-steam"></i></a></li>
            <!--Steam-->
            <li><a href="https://www.twitch.tv/llir4unll" target="_blank"><i class="fab fa-twitch"></i></a></li>
            <!--Twitch-->
            <li><a href="https://www.reddit.com/user/ir4un" target="_blank"><i class="fab fa-reddit"></i></a></li>
            <!--Reddit-->
        </div>
        <button (click)="scrollNext(top)" mat-button class="next-section-4"><i class="fas fa-arrow-down"></i></button>
    </div>
    <button (click)="scrollTop(start)" mat-button class="first-section">
        <p #top>
            <i class="fas fa-arrow-up"></i>
            Back to Top of Page
        </p>
    </button>
</div>