* {
    font-family: 'Times New Roman', Times, serif;
}

.admins {
    text-align: center;
    .admin {
        padding-top: 90px;
        padding-bottom: 90px;
        background: linear-gradient(to top right, black, transparent, grey, transparent, black);
        .pp {
            padding: 20px 0px;
            img {
                height: 300px;
                width: 300px;
                border-radius: 50%;
            }
        }
        .quote {
            color:black;
        }
        .socials {
            display: inline-flex;
            li {
                list-style: none;
                padding: 10px 20px;
                .fa-github, .fa-steam, .fa-twitch, .fa-reddit {
                    height: 50px;
                    width: 50px;
                    text-decoration: none;
                    color: black;
                }
                .fab {
                    box-shadow: 10px black;
                }
            }
        }
    }
    .first-section {
        cursor: pointer;
        width: 100%;
        position: sticky;
        background: black;
        color: yellow;
        border-radius: 0%;
        p {
            margin-top: 15px;
            visibility: hidden;
            font-size: 16px;
            font-weight: bold;  
            font-style: italic;
            .fas, .fa-arrow-up {
                visibility: visible;
                font-size: 20px;
            }
            &:hover {
                visibility: visible;
            }
        }
        &:hover {
            background: #fff;
            color: black;
            transition: 0.5s ease;
        }
    }
}